h1 {
  font-size: 60px;
  text-align: center;
}

.key-and-rest-container {
  background-color: rgb(200, 200, 200);
  border-style: solid;
  margin: 0 15%;
  text-align: center;
  white-space: nowrap;
}

.key-container {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.rest-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.key-class {
  display: inline-block;
  height: auto;
  width: 6.66%;
  cursor: pointer;
}

.rest-button {
  height: 50px;
  width: 100%;
}

.playback-area-container {
  background-color: rgb(200, 200, 200);
  border-style: solid;
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

.playback-top-container {
  background-color: rgb(200, 150, 150);
  border-style: solid;
  margin: 25px;
  padding: 10px;
  overflow: hidden;
  cursor: default;
}

.playback-top-container-left {
  float: left;
}

.playback-top-container-right {
  float: right;
}

.playback-top-container-right img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.playback-measure-container {

}

.measure-display {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.measure-note {
  background-color: rgb(150, 150, 200);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: default;
  font-size: 20px;
  font-weight: bold;
}
